<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">A universal format for live traffic information</h2>
                <hr class="light">
                <p class="text-faded">If you need to exchange live traffic information and are looking for a format to do that, TraFF is what you need. Designed to work with any app, any map and in any language, TraFF is the universal format to distribute traffic updates to your users, or receive crowdsourced traffic reports.</p>
            </div>
        </div>
    </div>
</section>
