<section class="bg-dark">
    <div class="header-content">
        <div class="header-content-inner">
            <div class="col-sm-2 col-md-2 col-lg-1 col-lg-offset-3 text-center">
                <img src="img/apps/qz.png" width="96" height="96" class="wow bounceIn text-primary"/>
            </div>
            <div class="col-sm-3 col-md-6 col-lg-8">
                <h1>Qz</h1>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-lg-offset-1">
                <p class="text-muted">Qz (pronounced “queues”) connects to an RDS/TMC receiver to receive live traffic messages. Messages are forwarded to other TraFF-aware applications as they are received. If you don’t have a navigation app which supports TraFF, you can still browse a list of messages.</p>
                <p class="text-muted">TMC is transmitted in the RDS data stream of various radio channels and provides live traffic information, helping you avoid congestions. Free TMC services are available in many parts of Europe (see the wiki for a list of countries in which Qz works).</p>
                <p class="text-muted">You will need a supported TMC receiver: Currently the GNS FM-9 BT is supported with any Bluetooth-capable Android device, or the various USB tuners based on the Si4701/4703 chip (your device must support USB OTG for the latter to work). A good antenna is recommended.</p>
            </div>
            <div class="col-lg-3">
                <img src="img/screenshots/qz-screenshot.png" width="270" height="480" class="wow bounceIn text-primary"/>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <!-- Placeholder -->
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <a href="https://gitlab.com/mvglasow/qz" target="_blank" class="service-box">
                    <i class="material-icons md-48 wow bounceIn text-primary" data-wow-delay=".1s">code</i>
                    <h3>Source Code</h3>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <a href="https://gitlab.com/mvglasow/qz/wikis/countries" target="_blank" class="service-box">
                    <i class="material-icons md-48 wow bounceIn text-primary">language</i>
                    <h3>List of countries</h3>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <!-- Placeholder -->
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <a href="https://f-droid.org/packages/com.vonglasow.michael.qz/" target="_blank"><img src="img/buttons/F-Droid-button_available-on.png" width="172" height="60" class="wow bounceIn text-primary"/></a>
                </div>
            </div>
        </div>
    </div>
</section>
