<section class="bg-dark">
    <div class="header-content">
        <div class="header-content-inner">
            <div class="col-sm-2 col-md-2 col-lg-1 col-lg-offset-3 text-center">
                <img src="img/apps/navit.png" width="96" height="96" class="wow bounceIn text-primary"/>
            </div>
            <div class="col-sm-3 col-md-6 col-lg-8">
                <h1>Navit</h1>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-lg-offset-1">
                <p class="text-muted">The Swiss pocket knife of navigation, available for most popular mobile and desktop operating systems. Being an offline navigation system, it does not require a data connection to work and protects your privacy. It uses OpenStreetMap data, giving you lifelong free map updates as well as the power to add to the map whatever is missing. Other map sources can be used as well, even multiple maps at the same time. And it’s completely free, both as in speech and as in beer.</p>
                <p class="text-muted">Navit receives traffic information in TraFF format to decide which roads are currently best avoided. Where there is a way around the obstruction, Navit will show it to you.</p>
                <p class="text-muted">TraFF support is currently available as an experimental feature, and only on Android. As development is still underway, stay tuned for more!</p>
            </div>
            <div class="col-lg-3">
                <img src="img/screenshots/navit-screenshot.png" width="270" height="480" class="wow bounceIn text-primary"/>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <a href="https://www.navit-project.org" target="_blank" class="service-box">
                    <i class="material-icons md-48 wow bounceIn text-primary">public</i>
                    <h3>Website</h3>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <a href="https://github.com/navit-gps/navit" target="_blank" class="service-box">
                    <i class="material-icons md-48 wow bounceIn text-primary" data-wow-delay=".1s">code</i>
                    <h3>Source Code</h3>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <a href="https://wiki.navit-project.org/index.php?title=Traffic_in_Navit" target="_blank" class="service-box">
                    <i class="material-icons md-48 wow bounceIn text-primary">traffic</i>
                    <h3>Traffic in Navit</h3>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <!-- Placeholder -->
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="https://f-droid.org/packages/org.navitproject.navit/" target="_blank"><img src="img/buttons/F-Droid-button_available-on.png" width="172" height="60" class="wow bounceIn text-primary"/></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="https://play.google.com/store/apps/details?id=org.navitproject.navit" target="_blank"><img src="img/buttons/gplay.png" width="201" height="60" class="wow bounceIn text-primary" data-wow-delay=".1s"/></a>
                </div>
            </div>
        </div>
    </div>
</section>
