<section class="bg-dark" id="apps">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Apps with TraFF Support</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <a href="app-navit.html"><img src="img/apps/navit.png" width="96" height="96" class="wow bounceIn text-primary"/></a>
                    <h3>Navit</h3>
                    <p class="text-muted">The Swiss pocket knife of navigation, available for most popular mobile and desktop operating systems.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <a href="app-qz.html"><img src="img/apps/qz.png" width="96" height="96" class="wow bounceIn text-primary" data-wow-delay=".1s"/></a>
                    <h3>Qz</h3>
                    <p class="text-muted">Receives TMC messages and forwards them to other applications.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <a href="app-roadeagle.html"><img src="img/apps/roadeagle.png" width="96" height="96" class="wow bounceIn text-primary" data-wow-delay=".1s"/></a>
                    <h3>RoadEagle</h3>
                    <p class="text-muted">Receives traffic messages from the Internet and forwards them to other applications.</p>
                </div>
            </div>
        </div>
    </div>
</section>
