<section id="benefits">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Benefits</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="material-icons md-48 wow bounceIn text-primary">settings_input_antenna</i>
                    <h3>Carrier agnostic</h3>
                    <p class="text-muted">Over a network connection, locally between applications, via a peer-to peer channel of your choice or whatever you can think of—TraFF works over virtually any digital communications channel, as long as it is capable of transmitting Unicode text.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="material-icons md-48 wow bounceIn text-primary">swap_vert</i>
                    <h3>Moderate bandwidth requirements</h3>
                    <p class="text-muted">Even where bandwidth is limited, TraFF will not let you down. With messages typically between 0.5–1 kByte in size, delivery rates of around 5 messages per second can be achieved on a 2G mobile connection.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="material-icons md-48 wow bounceIn text-primary">settings</i>
                    <h3>Fully machine-parseable</h3>
                    <p class="text-muted">TraFF was built to be easy for machines to interpret. Events can be expressed by any combination of roughly 500 predefined event codes and around 200 qualifier codes. There is hardly a traffic situation that TraFF cannot represent.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="material-icons md-48 wow bounceIn text-primary">translate</i>
                    <h3>Language neutral</h3>
                    <p class="text-muted">Your users will understand you even if they speak a different language. Because TraFF relies entirely on predefined event codes and not on freeform text, messages can be presented in any language, without losing any detail.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="material-icons md-48 wow bounceIn text-primary">map</i>
                    <h3>Map neutral</h3>
                    <p class="text-muted">TraFF can represent any location and any stretch of road on earth. Locations are described by a set of coordinates, optionally enhanced with road class, road number or road name. Neither you nor your users are bound to a particular map.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="material-icons md-48 wow bounceIn text-primary">code</i>
                    <h3>Well-established data format</h3>
                    <p class="text-muted">TraFF is an XML-based format. Parsing TraFF is as simple as integrating an XML parser of your choice. The descriptive text format makes debugging easy.</p>
                </div>
            </div>
        </div>
    </div>
</section>
