  <div class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center text-faded">
              traffxml.org &middot; info@traffxml.org
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center text-faded">
              <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a> This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center text-faded">
              Image credits: Joanna Pędzich-Opioła, <a rel="license" href="http://creativecommons.org/licenses/by/2.0/" target="_blank">CC-BY 2.0</a>
            </div>
        </div>
    </div>
  </div>
