<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Traffic Feed Format</h1>
            <hr>
            <h2>A universal format to exchange live traffic updates</h2>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
