<section id="resources">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Resources</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <a href="https://gitlab.com/traffxml/traff/raw/master/TraFF%20Presentation.pdf?inline=false" target="_blank" class="service-box">
                    <i class="material-icons md-48 wow bounceIn text-primary">insert_drive_file</i>
                    <h3>Introduction</h3>
                    <p class="text-muted">An introduction to Traffic Feed Format</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <a href="https://gitlab.com/traffxml/traff/raw/master/TraFF%20Specification.pdf?inline=false" target="_blank" class="service-box">
                    <i class="material-icons md-48 wow bounceIn text-primary" data-wow-delay=".1s">insert_drive_file</i>
                    <h3>Feed Format</h3>
                    <p class="text-muted">The data format for TraFF feeds (specification)</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <a href="https://gitlab.com/traffxml/traff/raw/master/TraFF%20Subscription%20Management.pdf?inline=false" target="_blank" class="service-box">
                    <i class="material-icons md-48 wow bounceIn text-primary" data-wow-delay=".1s">insert_drive_file</i>
                    <h3>Subscription Management</h3>
                    <p class="text-muted">How TraFF consumers request information from sources, including transport channels and subscription management (specification)</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <a href="https://gitlab.com/traffxml" target="_blank" class="service-box">
                    <i class="material-icons md-48 wow bounceIn text-primary">exit_to_app</i>
                    <h3>TraFF Repositories</h3>
                    <p class="text-muted">Developer resources: the Java TraFF support library, conversion libraries for other data formats, sample code and more</p>
                </a>
            </div>
        </div>
    </div>
</section>
