<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include app-navit.html %}
  {% include footer-short.html %}
  {% include scripts.html %}
</body>

</html>
