<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  {% include about.html %}
  {% include benefits.html %}
  {% include apps.html %}
  {% include resources.html %}
  {% include footer.html %}
  {% include scripts.html %}
</body>

</html>
